/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background: #183026 url(https://ooo.0o0.ooo/2017/05/10/5912f7f1a1d43.jpg) no-repeat;
    background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
);
}
ol,ul{
    list-style:none;
    padding:0;
}
a{
    text-decoration: none;
}
#header{
    width:100%;
    perspective: 3000px;
}
/*导航条*/
#header .topbar{
    width:100%;  
    height:60px;
    top:0;
    left:0;
    margin:0 auto;
    background-color: hsla(0,0%,0%,0.7);
    color:#cfcfcf;
    display:flex;
    justify-content:space-between;
    
}
#header .topbar {
    box-shadow: -8px 0 8px 4px hsla(0,0%,0%,0.3);
}
#header .topbar > .logo{
  background-color: rgba(0, 0, 0, 0);
  width:20%;
  
}

#header .topbar > .logo > img{
    width:100%;
    height:100%;
}

#header .topbar .nav_list_ul{
    display:flex;
  align-self:center;
}
#header .topbar .top-menu{
  display:none;
}
#header .topbar .nav_list_ul li{
    padding:0 10px;
}
#header .topbar .nav_list_ul li a{
     color:#cfcfcf;
}
#header .topbar .nav_list_ul li a:hover{
    color:#E18726;
}


@media(max-width:414px){
  #header .topbar .nav_list_ul{
    display:none;
  }
  #header .topbar .top-menu {
    display:block;
    width: 11%;
    float: right;
    margin-top: 20px;
    margin-right:12%;
  }
  span.menu {
    float: right;
  }
  span.menu:before {
    content: url(https://ooo.0o0.ooo/2017/05/13/59167e59516d5.png);
    cursor: pointer;
    height: 32px;
  }
  .top-menu ul {
    display: none;
    margin-top: 35px;
    z-index: 999;
    position: absolute;
    width: 30%;
    text-align: center;
    top: 9%;
    right: 0%;
    background: hsla(0,0%,0%,0.7);
    border-bottom:2px solid #cfcfcf;
  }
  .top-menu ul li:not(.item4){
    border-bottom:1px solid #cfcfcf;
  }
  .top-menu ul a{
    color:#cfcfcf;
  }
}
/*轮播*/
#header #head_slides{
    max-width:100%;
    margin:0 auto;
    color:white;
    background-repeat:no-repeat;
}

#header #head_slides .cover{
    width:100%;
    height:100%;
    padding-top:10%;
    background-color: hsla(0,0%,0%,0.3);
}
#header #head_slides .cover #slidesBanner{
    margin-top: 0;
    width:70%;
    margin-bottom:10%;
    margin-left:auto;
    margin-right:auto;
    background:hsla(0,0%,0%,0.5);
}

/*主题详细内容链接区*/
#main{
    margin-top:24px;
}
#main .mountain-show{
    width:70%;
    margin:0 auto;
    display:
}
.mountain-show li{
    margin:24px 0;
    position:relative;
    background: rgba(0, 0, 0, 0.7);
}
.mountain-show li::after{
    content:"";
    height:40vh;
    background:;
    display:inline;
    float:left;
    top:0;
    left:0;
    position:absolute;
    animation-name: change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    vertical-align: baseline;
}
.mountain-show li > img{
    width:70%;
    height:40vh;
}
@keyframes change {
    0%   {background-color: rgba(0,0,0,0.7);left:0;width:100%;}
    100% {background-color: rgba(0,0,0,0.3);left:100%;width:0;}  
}

    .mountain-show li > .description{
        float:right;
        width:30%;
        height:40vh;
        background-color: hsla(0,0%,0%,0.3);
        text-align: center;
        position: relative;
        color:#CFCFCF;
    }
    .description h2{
        margin:5px auto;
    }
    .description p{
        text-align: justify;
        line-height:1.5;
        padding:0 15px;
        position:absolute;
        top:50px;
        bottom:70px;
        float:right;
        
    }
    /*animation应用*/
    .description a{
        color:white;
        padding:11px 11px;
        background:#0a84c1;
        border-radius: 3px;
        bottom:0;
        text-decoration: none;
        bottom:10px;
        left:50%;
        transform: translate(-50%);
        position: absolute;
    }
    .description a:hover{
        background: #085397;
    }
    .mountain-show li:nth-child(even)> .description{
        order:1;
        float:left;
    }
    .mountain-show li:nth-child(even)>img{
        order:2;
    }
    .mountain-show li:nth-child(odd)> .description{
        order:2;
    }
    .mountain-show li:nth-child(odd)>img{
        order:1;
    }

@media(max-width:960px){
    #main .mountain-show{
    width:90%;
    }
    .mountain-show li > .description{
        float:none;
    }
    .mountain-show li:nth-child(even)> .description{
        order:1;
        float:none;
    }
    .mountain-show li > img{
        width:100%;
        height:40vh;
        vertical-align: bottom;
    }
    .mountain-show li > .description{
        width:100%;
        height:20vh;
        position: relative;
        margin-bottom: 24px;
    }
    .description p{
        display:none;
    }
    .description a{
        color:white;
        padding:11px 11px;
        background:#0a84c1;
        border-radius: 3px;
        text-decoration: none;
        bottom:20px;
        transform: translate(-50%);
        position: absolute;
    }
    .description a:touchstart{
        background: #085397;
    }
}
/*图片集部分*/
#main #hill-show_ul{
    width:70%;
    margin:0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:24px;
}
#hill-show_ul li{
    width:30%;
    color:#cfcfcf;
    font-family: "microsoft yahei";
    font-size: 18px;
    position:relative;
    background-color: hsla(0,0%,0%,0.1);
    margin-bottom:24px;
}

@media(max-width:960px){
    #hill-show_ul li{
        width:45%;
    }
}
@media(max-width:500px){
    #main #hill-show_ul{
    width:90%;
    }
    #hill-show_ul li{
        width:100%;
    }
}
#hill-show_ul li:hover{
    background-color: hsla(0,0%,0%,0.5);
}
#hill-show_ul li > .img_hill{
    width:100%;
    height:30vh;
    vertical-align: bottom;
}
.img_upCover{
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    //z-index:1;
}
.img_upCover:hover {
    background:#000;
    opacity: 0.3;
}
#hill-show_ul li > .province_intro{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "microsoft yahei";
    font-size: 18px;
    color:#cfcfcf;
    background-color: hsla(0,0%,0%,0.3);
}
.img_province_city{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid white;
    background-color: transparent;
}

.province_intro .city_name{
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 5px 0;
}
.province_intro .index_price{
    width: 90px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    display: inline-block;
    color: #fff;
}

/*支付方式介绍*/
#chinese_pay{
    width:70%;
    background-color: #cfcfcf;
    margin:24px auto;
}
#chinese_pay .container-agoda{
  text-align:center;
  padding:24px 30px;
}
#chinese_pay .container-agoda .payment-tile {
    font-size: 23px;
    margin-bottom:30px;
    font-weight: 400;
    display: block;
    margin-left:50%;
    transform: translate(-42%);
}
#chinese_pay .container-agoda .row{
  display:flex;
  justify-content:space-around;
  padding-bottom:10
}
@media(max-width:500px){
    #chinese_pay{
    width:100%;
    }
    #chinese_pay .container-agoda .row{
        display:block;
    }
    .payment-logo{
        padding-bottom: 24px;
    }
}

/*公司成员介绍*/
#our_team{
  width:70%;
  margin:24px auto;
  text-transform:uppercase;
  color:#cfcfcf;
}
.team_head{
  text-align:center;
  margin-bottom:60px;
}
.team_head h2{
  font-size:28px;
  border-bottom:1px solid #b4b4b4;
  display:inline-block;
}
.team_head p{
  font-size:16px;
  margin-top:10px;
}
.members{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  flex-shrink:0;
}
.member{
  //background-color: #ccc;
  border-radius:50%;
  position:relative;
  margin-bottom:24px;
}
.member img{
  width:100%;
  border-radius:50%;
}
.members .member .cover{
  position:absolute;
  width:100%;
  height: 100%;
  background-color: #000;
  opacity:0;
  border-radius:50%;
  top:0;
  left:0;
  color:white;
  text-align:center;
}
.member:hover .cover{
  opacity:0.7;
}

.member .cover h3{
    font-size: 18px;
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-top:30%;
}

.member .cover span{
    font-size: 14px;
    margin-bottom: 30%;
    display: block;
}
@media (min-width: 960px){
    .member {
      width: 22.5%;
  }
}

@media (max-width: 960px){
    .member {
      width: 45%;
  }
}
@media (max-width: 500px){
    .member {
      width: 90%;
  }
}
/*版权*/
.bigFont{
    font-size:14px;
    font-style:normal;
}
#footer{
    margin:30px auto;
    text-align: center;
}
#footer em{
    color: #b4b4b4;
    font-family: Arial;
    font-style: normal;
}
/*点击弹出高清图*/
#lightbox {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
#lightbox img{
    border:0;
}

.lightbox-button:hover, .lightbox-button:focus {
    opacity: 1;
    transform: scale(1.6);
}
.lightbox-close {
    right: 10px;
    top: 10px;
    background-image: url(https://ooo.0o0.ooo/2017/05/11/5913e385d74e7.png);
}

.lightbox-button {
    position: absolute;
    z-index: 9999;
    width: 32px;
    height: 32px;
    opacity: 0.4;
    transition: all 0.3s;
    color:white;
}
.lightbox-previous {
    left: 10px;
    top: 48%;
    background-image: url(https://ooo.0o0.ooo/2017/05/11/5913ef712b93e.png);
}
.lightbox-next {
    right: 10px;
    top: 48%;
    background-image: url(https://ooo.0o0.ooo/2017/05/11/5913ef6ec8858.png);
}
.lightbox-caption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
}
.lightbox-caption p {
    margin: 0 auto;
    max-width: 70%;
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
#lightbox img {
    display: block;
    position: absolute;
    border: 5px solid #fff;
    box-shadow: 0 0 20px #000;
    border-radius: 1px;
}

/*回到顶部*/
#goToTop{
    display:block;
    width:35px;
    height:40px;
    border:2px #ddd solid;
    position:fixed;
    right:30px;
    bottom:40px;
    border-radius:4px;
    display:relative;
    color:#000;
    text-decoration: none;
    box-shadow:0 0 2px 1px #ddd;
}
#goToTop::before{
    content:'';
    display:block;
    border:4px #ddd solid;
    border-top:4px #ddd solid;
    border-right:transparent;
    border-left:4px #ddd solid;
    border-bottom:transparent;
    transform:rotateZ(45deg);
    width:20px;
    height:20px; 
    position:absolute;
    top:15px;
    left:5.5px;
    z-index:99999;
}
